svg {
    width: 300px;
    height: auto;
}

.st0 {
    fill: none;
    stroke: #E6E6E6;
    stroke-width: 35;
    stroke-miterlimit: 10;
}

.st1 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: url(#SVGID_1_);
}

.st2 {
    fill: #2C2C2C;
}

.st3 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #2C2C2C;
}

.st4 {
    fill: #00DACF;
}

.st5 {
    fill: #FFFFFF;
}

.st6 {
    font-family: 'ProximaNova-Bold';
}

.st7 {
    font-size: 22.6724px;
}

.st8 {
    font-size: 32.3892px;
}

.st9 {
    fill: #00E4A0;
}