svg {
    width: 800px;
    height: auto;
}

.st0 {
    fill: none;
    stroke: #e6e6e6;
    stroke-width: 35;
    stroke-miterlimit: 10;
}

.st1 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: url(#SVGID_1_);
}

.st2 {
    fill: #2c2c2c;
}

.st3 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #2c2c2c;
}

.st4 {
    fill: #00dacf;
    //   fill: yellow;
}

.mst:hover {
    fill: #00dacfe1;
    cursor: pointer;
}

.st5 {
    fill: #ffffff;
}

.st6 {
    font-family: "ProximaNova-Bold";
}

.st7 {
    font-size: 22.6724px;
}

.st8 {
    font-size: 32.3892px;
}

.st9 {
    fill: #00e4a0;
}

.modalc {
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;

    .container {
        margin: 15% auto;
        width: 50%;
        background-color: #ffffff;
        border-radius: 5px;
        padding: 15px;

        .close {
            color: black;

            &:hover {
                color: red;
            }
        }
    }
}

.show {
    display: block;
}

.hide {
    display: none;
}